body{
    background-color: darkgrey;
}
svg{
    background-color: white;
}

.button-magico{	
	display: flex;
	width: 75%;
}

#input-numero{
	width: 25%;
}

.btn-magico{
	display: flex;
}
	
.main-menu{
    background-color: #292b29;
    position: relative;
    width: 500px;
    min-width: 200px;
    overflow-y: auto;
    max-height: 650px;
    display: inline-grid;
    float: right;
    font-style: normal;
    color: azure;
}
button{
    margin: 2px;
	width: -moz-available;
}
.inputcolor{
    max-width: 80px;
    height: 50px;
    display: inline;
}
.menu-color{
    padding: 10px;
    font-family: "Berlin Sans FB";
    display: flex;
}
h2{
    font-family: Consolas;
    font-weight: bold;
    color: #0e0e0e;
}
.page-header{
    background-color: #e2e6ea;
}

label{
    padding: 10px;
}
